<div class="item-container-g">
	{{#each model as |musicBook|}}
		<div class="item-container">
			<ul class="collection">
			    <li class="collection-item avatar">
			    	<img src={{musicBook.imgUrl}} alt="" class="circle">
			    	<p>Title: {{musicBook.title}}</p>
			    	<span class="title">Author: {{musicBook.author.fullName}}</span><br>
			    	<span class="title">Price: {{musicBook.price}}</span>
			    	<a href="#!" class="secondary-content">
			    		<i class="material-icons">
			    			{{#link-to 'menu.album' musicBook.id}}<img id="img-set-album" src='https://image.flaticon.com/icons/svg/181/181550.svg' alt="" class="circle">
			    			{{/link-to}}
			    		</i>
			    	</a>
			    </li>
			</ul>
		</div>
		
	{{/each}}
</div>

<div class="fixed-action-btn">
	{{#link-to 'menu.add-album'}}
		<a class="btn-floating btn-large red">
    		<i class="large material-icons">+</i>
  		</a>
  	{{/link-to}}
</div>
