{{!-- <div id="menu-wrapper">
	<div id="menu" class="container">
		<ul>
			<li>{{#link-to 'library'}}Homepage{{/link-to}}</li>
			<li>{{#link-to 'author'}}Authors{{/link-to}}</li>
			<li>{{#link-to 'shopping-cart'}}Cart{{/link-to}}</li>
		</ul>
	</div>
</div> --}}